modules/configuration/gsrc/acmelab/ta/webservice/contact/rutvalidaor/contacts.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://www.baeldung.com/springsoap/gen" xmlns:sch="http://www.baeldung.com/springsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.baeldung.com/springsoap/gen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.baeldung.com/springsoap/gen" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getContactRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getContactResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contact" type="tns:contact"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="contact">
        <xs:sequence>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="hc" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getContactResponse">
    <wsdl:part name="getContactResponse" element="tns:getContactResponse"/>
  </wsdl:message>
  <wsdl:message name="getContactRequest">
    <wsdl:part name="getContactRequest" element="tns:getContactRequest"/>
  </wsdl:message>
  <wsdl:portType name="ContactsPort">
    <wsdl:operation name="getContact">
      <wsdl:input name="getContactRequest" message="tns:getContactRequest"/>
      <wsdl:output name="getContactResponse" message="tns:getContactResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactsPortSoap11" type="tns:ContactsPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getContact">
      <soap:operation soapAction=""/>
      <wsdl:input name="getContactRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getContactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsPortService">
    <wsdl:port name="ContactsPortSoap11" binding="tns:ContactsPortSoap11">
      <soap:address location="https://historialcrediticiocl.appspot.com:443/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>