modules/configuration/gsrc/acmelab/ta/webservice/contact/rutvalidaor/rut.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://www.deloittebootcamp.com/acv/gen" xmlns:sch="http://www.deloittebootcamp.com/acv/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.deloittebootcamp.com/acv/gen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.deloittebootcamp.com/acv/gen" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getRutValidationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rut" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRutValidationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="validation" type="tns:validation"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="validation">
        <xs:sequence>
          <xs:element name="rut" type="xs:string"/>
          <xs:element name="isValid" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRutValidationRequest">
    <wsdl:part name="getRutValidationRequest" element="tns:getRutValidationRequest"/>
  </wsdl:message>
  <wsdl:message name="getRutValidationResponse">
    <wsdl:part name="getRutValidationResponse" element="tns:getRutValidationResponse"/>
  </wsdl:message>
  <wsdl:portType name="RutsPort">
    <wsdl:operation name="getRutValidation">
      <wsdl:input name="getRutValidationRequest" message="tns:getRutValidationRequest"/>
      <wsdl:output name="getRutValidationResponse" message="tns:getRutValidationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RutsPortSoap11" type="tns:RutsPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getRutValidation">
      <soap:operation soapAction=""/>
      <wsdl:input name="getRutValidationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRutValidationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RutsPortService">
    <wsdl:port name="RutsPortSoap11" binding="tns:RutsPortSoap11">
      <soap:address location="https://bootcamp-validarut.appspot.com:443/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>